/*
=============== 
Variables
===============
*/
:root {
  --ff-primary: "Anta", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
