/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #4c0000;
  --clr-primary-2: #660000;
  --clr-primary-3: #800000;
  --clr-primary-4: #990000;
  /* darkest grey - used for headings */
  --clr-grey-1: #141619;
  --clr-grey-2: #171a1d;
  /* grey used for paragraphs */
  --clr-grey-3: #1a1e21;
  --clr-grey-4: #1e2125;
  --clr-grey-5: #5b5c5e;
  --clr-grey-6: #727375;
  --clr-white: #fffff0;
  --clr-black: #000;
  --ff-primary: "Anta", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --text-transform: uppercase;
  --letter-spacing: 0.2rem;
  --transition: all 0.4s linear;
  --border-radius: 0.35rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
}
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
h1 {
  color: var(--clr-primary-2);
  font-family: var(--ff-primary);
  font-size: 3rem;
  letter-spacing: var(--letter-spacing);
}

h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*NAV*/

nav {
  background: var(--clr-white);
  height: 5rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}

.nav-center {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
}

nav a {
  font-family: var(--ff-primary);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-primary-2);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}

.styles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 4rem 2.1rem;
  margin: 0 auto;
  color: aliceblue;
}

.text-box,
.border-box,
.box-shadow-container {
  font-family: var(--ff-secondary);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding: 3rem;
  box-shadow: var(--dark-shadow);
  border-radius: var(--border-radius);
}

.text-box {
  background-color: var(--clr-grey-1);
}

.border-box {
  color: var(--clr-grey-2);
  background-color: var(--clr-white);
}

.box-shadow-container {
  background-color: var(--clr-grey-5);
  color: var(--clr-grey-1);
}

.outer-container h2 {
  padding: 1.1rem 1.35rem;
  background-color: #171a1d;
  border-radius: var(--border-radius);
}

.outer-container h2 {
  color: aliceblue;
}

.color {
  padding: 0.4rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-primary-3);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-3);
}
