/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #4c0000;
  --clr-primary-2: #660000;
  --clr-primary-3: #800000;
  --clr-primary-4: #990000;
  /* darkest grey - used for headings */
  --clr-grey-1: #141619;
  --clr-grey-2: #171a1d;
  /* grey used for paragraphs */
  --clr-grey-3: #1a1e21;
  --clr-grey-4: #1e2125;
  --ff-primary: "Anta", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --letter-spacing: 0.1rem;
  --transition: all 0.3s linear;
  --border-radius: 0.35rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.styles-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 4rem 2.1rem;
}

.styles-container div {
  text-align: center;
  padding: 3rem;
  background-color: #1a1e21;
  color: aliceblue;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 2rem;
}
